<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
	<meta http-equiv="Content-Security-Policy-Report-Only" content="default-src http: file:; child-src 'none'; object-src 'none'">

</head>

<body>
	<script>var WSAddress = '{{.WSAddress}}';</script>
    <script src="app.js"></script>
</body>

</html>
